services:

  localstack:
    image: localstack/localstack:4.11.1
    ports:
      - "127.0.0.1:4566:4566"            # LocalStack Gateway
      - "127.0.0.1:4510-4559:4510-4559"  # external services port range
    environment:
      - EXTRA_CORS_ALLOWED_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://web:8000
      - MAIN_CONTAINER_NAME=localstack
      - SERVICES=sqs,s3,ses
      - LOCALSTACK_HOST=localstack
      - DEBUG=${DEBUG- }
      - DOCKER_HOST=unix:///var/run/docker.sock
      # Make S3 bucket persistent
      - PERSISTENCE=1
    volumes:
      - "${TMPDIR:-/tmp/localstack}:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock"

  db:
    image: postgres:13
    ports:
      - "127.0.0.1:5432:5432"
    environment:
      - POSTGRES_PASSWORD=secret
      - POSTGRES_USER=panelapp
      - POSTGRES_DB=panelapp
      - PGDATA=/var/lib/postgresql/data
    volumes:
      - "./pgdata/data:/var/lib/postgresql/data"

  web:
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile-web
      platforms:
        - linux/amd64
        - linux/arm64
    image: panelapp_web_dev
    restart: on-failure
    volumes:
      - ../../panelapp:/app/panelapp
#      - /tmp/panelapp_static:/static
#      - /tmp/panelapp_media:/media
    ports:
      - "8080:8000"
    depends_on:
      - db
#      - rabbitmq
      - localstack
    environment:
#      - DATABASE_URL=postgres://panelapp:secret@db:5432/panelapp
      - DATABASE_USER=panelapp
      - DATABASE_PASSWORD=secret
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=panelapp
      - DJANGO_SETTINGS_MODULE=panelapp.settings.docker-dev
      - DJANGO_LOG_LEVEL=DEBUG
      - HEALTH_ACCESS_TOKEN_LOCATION=/app/health_token
      - ALLOWED_HOSTS=localhost;web
      - AWS_REGION=eu-west-2
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - USE_S3=TRUE
      - AWS_S3_STATICFILES_BUCKET_NAME=static-bucket
      - AWS_STATICFILES_LOCATION=static
      - AWS_S3_MEDIAFILES_BUCKET_NAME=media-bucket
      - AWS_MEDIAFILES_LOCATION=media
      - AWS_S3_REPORTS_BUCKET_NAME=reports-bucket
#      - STATIC_ROOT=/static
#      - MEDIA_ROOT=/media
      - USE_SQS=TRUE
      - CELERY_BROKER_URL=sqs://@localstack:4566
#      - CELERY_BROKER_URL=amqp://rabbitmq/panelapp

  worker:
    build:
      context: ../../
      dockerfile: ./docker/dev/Dockerfile-worker
      platforms:
        - linux/amd64
        - linux/arm64
    image: panelapp_worker_dev
    restart: on-failure
    volumes:
      - ../../panelapp:/app/panelapp
#      - /tmp/panelapp_static:/static
#      - /tmp/panelapp_media:/media
    ports: []
    depends_on:
      - db
#      - rabbitmq
    environment:
#      - DATABASE_URL=postgres://panelapp:secret@db:5432/panelapp
      - DATABASE_USER=panelapp
      - DATABASE_PASSWORD=secret
      - DATABASE_HOST=db
      - DATABASE_PORT=5432
      - DATABASE_NAME=panelapp
      - DJANGO_SETTINGS_MODULE=panelapp.settings.docker-dev
      - HEALTH_ACCESS_TOKEN_LOCATION=/app/health_token
      - ALLOWED_HOSTS=localhost;web
#      - MEDIA_ROOT=/media
      - AWS_REGION=eu-west-2
      - AWS_ACCESS_KEY_ID=dummy
      - AWS_SECRET_ACCESS_KEY=dummy
      - USE_S3=TRUE
      - AWS_S3_MEDIAFILES_BUCKET_NAME=media-bucket
      - AWS_MEDIAFILES_LOCATION=media
      - AWS_S3_REPORTS_BUCKET_NAME=reports-bucket
      - USE_SQS=TRUE
      - CELERY_BROKER_URL=sqs://@localstack:4566
#      - CELERY_BROKER_URL=amqp://rabbitmq/panelapp

#  rabbitmq:
#    image: rabbitmq
#    environment:
#      - RABBITMQ_DEFAULT_VHOST=panelapp

  schemaspy:
    profiles:
      - "docs"
    image: schemaspy/schemaspy
    volumes:
      - './schemaspy.properties:/schemaspy.properties'
      - './schemaspy:/output'
