{% extends "error.html" %}

{% block title %}We've got some trouble | 500 - Internal Server Error{% endblock %}
{% block name %}Webservice experiencing difficulties{% endblock %}
{% block code %}Internal Server Error 500{% endblock %}
{% block description %}
This page is experiencing issues.<br>
Our service team has been dispatched to bring it back online.
{% endblock %}
{% block footer %}
If this problem persists, please email <a href=mailto:ge-servicedesk@genomicsengland.co.uk>ge-servicedesk@genomicsengland.co.uk</a>
or create a ticket <a href=https://bit.ly/ge-servicedesk>GE Service Desk</a>
{% endblock %}
