{% load static %}
{% load banner %}

<!DOCTYPE html>
<html class="no-js">
  <head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script>(function(d){d.className=d.className.replace(/^no-js\b/,'js');}(document.documentElement));</script>
    <link rel="stylesheet" href="{% static "app.css" %}" >
    <script src="{% static "app.js" %}"></script>
    {% block header %}{% endblock %}
    <title>{% block title %}PanelApp{% endblock %}</title>
  </head>
<body>
<div>
<nav class="navbar navbar-expand-md bg-primary navbar-dark overflow-x">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">PanelApp</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" style="--bs-border-opacity: 0;" href="{% url 'panels:index' %}">Panels</a></li>
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'panels:entities_list' %}">Genes and Entities</a></li>
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'panels:activity' %}">Activity</a></li>
        {% if request.user.is_authenticated and request.user.reviewer.is_GEL %}
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'panels:create' %}">Add panel</a></li>
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'panels:admin' %}">Import panel</a></li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link nav-panelapp dropdown-toggle rounded mx-2 my-1" data-bs-toggle="dropdown" role="button" aria-expanded="false">Resources <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'panels:download_genes' %}">Download all genes</a></li>
            <li><a class="dropdown-item" href="{% url 'panels:download_strs' %}">Download all STRs</a></li>
              <li><a class="dropdown-item" href="{% url 'panels:download_regions' %}">Download all Regions</a></li>
            <li><a class="dropdown-item" href="{% url 'panels:download_panels' %}">Download all panels</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>

      {% if request.user.is_authenticated %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'accounts:profile' %}"><strong>{{ request.user }}</strong></a></li>
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'accounts:logout' %}">Log out</a></li>
      </ul>
      {% elif use_cognito %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'accounts:login' %}">Log in</a></li>
      </ul>
      {% else %}
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'accounts:login' %}?next={{ request.get_full_path }}">Log in</a></li>
        <li class="nav-item"><a class="nav-link nav-panelapp rounded mx-2 my-1" href="{% url 'accounts:register' %}">Register</a></li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>

{% banner %}

<div class="container">
  {% if messages %}
    {% for message in messages %}
      <div class="add-bottom-margin add-top-margin alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %}">{{ message }}</div>
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</div>

{% block body %}{% endblock %}
{% block modals %}{% endblock %}
{% block js %}{% endblock %}
</body>
</html>
