{% extends 'default_anonymous.html' %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="d-grid gap-2 add-top-margin">
        <a href="/" class="btn btn-outline-light-panelapp">Browse PanelApp without logging in</a>
      </div>
      <form action="{% url 'accounts:login' %}" method="post" class="card add-top-margin">
        {% csrf_token %}
        <div class="card-header">
          <h5 class="card-title">Log in</h3>
        </div>
        <div class="card-body">
          <fieldset>
            {% bootstrap_form form %}
            <p class="tiny"><a href="{% url 'accounts:password_reset' %}"> I forgot my password</a></p>
          </fieldset>
        </div>
        <div class="card-footer">
            {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}" />{% endif %}
            <div class="d-grid gap-2">
              <button type="submit" class="btn btn-primary">Log in</button>
            </div>
        </div>
      </form>

      <div class="card add-top-margin add-bottom-margin">
        <div class="card-header">
          <h5 class="card-title">Register</h5>
        </div>
        <div class="card-body">
          <p>To review gene panels we request that you have expertise relevant to the rare diseases included in the <a href="http://www.genomicsengland.co.uk/the-100000-genomes-project/">100,000 Genomes Project</a>. You must have expertise in one of the following:</p>
          <ul>
            <li>a relevant disease area</li>
            <li>diagnostic genetic testing of a relevant disease area</li>
            <li>genes relevant to the diseases included in the project</li>
          </ul>
          <p>A <a href="http://www.genomicsengland.co.uk/library-and-resources/">list of the diseases</a> included in the project can be found on <a href="http://www.genomicsengland.co.uk/library-and-resources/">Genomics England</a>.</p>

          <a href="{% url 'accounts:register' %}" class="btn btn-outline-light-panelapp w-100">Register to be a reviewer</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
