{% load django_bootstrap5 %}

<div class="card add-top-margin" id="panel-default">
    <div class="card-header">Description</div>
    <div class="card-body">
        <pre class="panel-description">{{ panel.level4title.description|urlize }}</pre>
    </div>
    {% if request.user.is_authenticated and request.user.reviewer.is_GEL or not panel.is_super_panel %}
    <div class="card-footer bg-white">
        {% if request.user.is_authenticated and request.user.reviewer.is_GEL %}
        <a href="#editform" class="btn btn-outline-light-panelapp" data-module="showhide" data-show="#panel-form" data-hide="#panel-default">
            <i class="fa fa-edit"></i> Edit panel
        </a>
        {% endif %}
        {% if not panel.is_super_panel %}
        <a href="{% url 'panels:activity' %}?panel={{ panel.panel.pk }}" class="btn btn-outline-light-panelapp">
            Panel Activity
        </a>
        {% endif %}
    </div>
    {% endif %}
</div>
{% if request.user.is_authenticated and request.user.reviewer.is_GEL %}
<div class="card card-body bg-light d-none" id="panel-form">
    <form class="form" action="{% url 'panels:update' panel.panel.id %}" method="post">{% csrf_token %}
        <fieldset>
            <legend>Update Information</legend>
            {% for field in edit %}
                <div class="form-group">
                    {% bootstrap_field field %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-primary add-right-margin">Save</button>
            <a href="{{ panel.get_absolute_url }}" class="btn btn-link">Cancel</a>
            <a href="{% url 'panels:mark_not_ready' panel.panel_id %}" class="btn btn-outline-secondary float-end">Mark all genes as not ready</a>
        </fieldset>
    </form>
    {{ edit.media }}
</div>
{% endif %}
