{% extends "default.html" %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container add-top-margin">
    <div class="page-header border-bottom" id="banner">
      <h1>{% block title %}Panel Creation{% endblock %}</h1>
    </div>

    <div class="card card-body bg-light add-top-margin">
      <form class="" action="{% if object %}{% url "panels:update" object.panel.pk %}{% else %}{% url "panels:create" %}{% endif %}" method="post">{% csrf_token %}
        <legend class="border-bottom add-bottom-margin">Panel Creation Tool</legend>
        {% bootstrap_form form %}

        <div>
          <button type="reset" class="btn btn-outline-light-panelapp">Cancel</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
      {{ form.media }}
    </div>
</div>
{% endblock %}
