{% extends "default.html" %}
{% load django_bootstrap5 %}

{% block body %}
<div class="container add-top-margin">
  <div class="row">
    <div class="col-md-6">
      <div class="add-bottom-margin" id="banner">
        <h2>{% block title %}{{ request.user }}{% endblock %}</h2>
      </div>
      <div id="user_info">
        <ul class="list-group">
          <li class="list-group-item bg-primary">
            <h5 class="text-white">User Information</h5>
          </li>

          <li class="list-group-item">
            <h5>Username</h5>
            <p>{{ request.user.username }}</p>
          </li>

          <li class="list-group-item">
            <h5>First Name</h5>
            <p>{{ request.user.first_name }}</p>
          </li>

          <li class="list-group-item">
            <h5>Last Name</h5>
            <p>{{ request.user.last_name }}</p>
          </li>

          <li class="list-group-item">
            <h5>Affiliation</h5>
            <p>{{ request.user.reviewer.affiliation }}</p>
          </li>

          <li class="list-group-item">
            <h5>Role</h5>
            <p>{{ request.user.reviewer.role }}</p>
          </li>

          <li class="list-group-item">
            <h5>Group</h5>
            <p>{{ request.user.reviewer.group }}</p>
          </li>

          <li class="list-group-item">
            <h5>Workplace</h5>
            <p>{{ request.user.reviewer.workplace }}</p>
          </li>
        </ul>
        {% if not use_cognito %}
        <a href="{% url 'accounts:change_password' %}" class="btn btn-primary add-top-margin">Change password</a>
        {% endif %}
          <div class="add-top-margin">
              <h3>API Token</h3>
              <div>
                  <p>
                      You can use your API token to use PanelApp API v1.
                  </p>
                  <p>
                      To use the token add 'Authorization' header with 'Token :your token:' value.
                  </p>
                  <a href="#display-token" id="display_token"  data-module="showhide" data-show="#auth_token">Display token</a>
                  <div id="auth_token" class="d-none"><pre>Authorization: Token {{ user.auth_token }}</pre></div>
              </div>
          </div>
      </div>
    </div>
    <div class="col-md-6">
      <h2 class="add-bottom-margin">Your Evaluations</h2>
      {% include "accounts/user_evaluations.html" %}
    </div>
  </div>
</div>

{% endblock %}
