{% load panel_helpers %}

{% if user.is_authenticated and user.reviewer %}
  {% for evaluation in user.get_recent_evaluations %}
    {% if request.user == evaluation.user %}
      {% with entity=evaluation.entity %}
        {% with panel=entity.panel %}
          <div class="card add-top-margin add-bottom-margin">
            <div class="card-header">
              <div class="card-title">
                <a href="{{ panel.panel.get_absolute_url }}" class="link-inherit">{{ panel.panel.name }}</a>,
                <a href="{{ entity.get_absolute_url }}" class="link-inherit">{{ entity.name }}</a>
              </div>
            </div>
            {% include "panels/entity/entity_evaluation.html" with entity_name=entity.name entity_type=entity.get_entity_type ev=evaluation panel=panel %}
          </div>
        {% endwith %}
      {% endwith %}
    {% endif %}
  {% endfor %}
{% endif %}
