{% extends "default.html" %}
{% load static %}
{% load markdown_deux_tags %}
{% block body %}
<div class="container-fluid pb-1 pt-3 mb-4 bg-panelapp-light">
  <x-brand title="Genomics England PanelApp"></x-brand>
</div>

<div class="container">
  <div class="row">
    <x-home-pages active="Introduction" data-module="home-pages">
      {% for hometext in object_list %}
        <div slot="{{ hometext.href }}" class="copy-container home-page-content">{{ hometext.render_markdown|safe }}</div>
      {% endfor %}
    </x-home-pages>
  </div>
</div>
{% endblock %}
